<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>{% block title %}Social{% endblock %}</title>
    {% block static %}
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <script src="{% static 'js/scripts.js' %}" defer></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://cdn.jsdelivr.net/jquery.cookie/1.4.1/jquery.cookie.min.js"></script><!-- для передачи токена в js запросах -->
    {% endblock %}

</head>
<body>
<div id="header">
    <span class="logo">Social</span>
    {% if request.user.is_authenticated %}
    <ul class="menu">
        <li class="{% if section == 'dashboard' %}selected{% endif %}"><a href="{% url 'account:dashboard' %}">My
            dashboard</a>
        </li>
        <li class=" {% if section == 'imges' %}selected{% endif %}"><a href="#">Images</a>
        </li>
        <li class=" {% if section == 'people' %}selected{% endif %}"><a href="#">People</a>
        </li>
    </ul>
    {% endif %}

    <span class="user">
         {% if request.user.is_authenticated %}
         Hello {{ request.user.first_name }},
         <a href="{% url 'account:logout' %}">Logout</a>
                {% else %}
        <a href="{% url 'account:login' %}">Login</a>
        {% endif %}
    </span>

</div>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li class="{{ message.tags }}">
        {{ message|safe }}
        <a href="#" class="close">✖</a>
    </li>
    {% endfor %}
</ul>
{% endif %}
<div id="content">
    {% block content %}
    {% endblock %}
</div>


</body>
</html>
<!-- to include some specific js
<script>
 $(document).ready(function(){
 {% block domready %}
 {% endblock %}
 });
</script> -->