{% extends "shop/base.html" %}
{% load static %}
{% load shop_tags %}

{% block title %}
    {% if category %}{{ category.title }}{% else %} Products {% endif %}
{% endblock %}
{% block content %}
    <div class="product-detail">
        <div class="card-img ">
            <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}"  class="w-25 h-25">
            <h1>{{ product.name }}</h1>
            <h2><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></h2>
            <p class="price">${{ product.price }}</p>
            <!--<p class="tags">Tags: {{ product.tags.all|join:", " }}</p>-->
            <p class="tags">Tags: {% for tag in product.tags.all %}
                <a href="{% url 'shop:product_list_by_tag' tag.slug %}"> {{ tag.name }} </a>
                 {% if not forloop.last %}, {% endif %}
                {% endfor %}</p>
        </div>
         <div class="card-body ">

            {{ product.description|markdown }}
        </div>
        <p><a href="{% url 'shop:product_share' product.id %}"> Share this product </a></p>


        {% with comments.count as total_comments %}
            {{ total_comments }} comment{{ total_comments|pluralize }}
        {% endwith %}
    </div>
    {% for comment in comments %}
     <div class="comment">
         <span class="author"><strong>{{ comment.name }}</strong></span>
         <span class="info"><em> {{ comment.created }}</em></span>
         {{ comment.body|linebreaks }}
     </div>
    {% empty %}
        <p>There are no comments yet.</p>
    {% endfor %}

    {% if new_comment %}
        <h2>Your comment has been added.</h2>
    {% else %}
         <h2>Add a new comment</h2>
         <form action="." method="post">
             {{ comment_form.as_p }}
             {% csrf_token %}
             <p><input type="submit" value="Add comment" class="btn-md btn-success"></p>
         </form>
    {% endif %}

        <h2>Similar_products:</h2>
        {% for p in similar_products %}
            <a href="{{ p.get_absolute_url }}"> {{ p.name }} </a>


        {% empty %}
             There are no similar products yet.
        {% endfor %}
{% endblock %}