{% load static from staticfiles %}
    <h4>Last updates</h4>
    <ul class="col-md-12 text-left">
    {% for p in latest_products %}

          <li><a href="{{ p.get_absolute_url }}">{{ p.name }}</a></li>

    {% endfor %}
    </ul>
