{% extends "shop/base.html" %}
{% load shop_tags %}

{% load static %}
{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}

<div class="row">

    <div id="main"  class="col-md-12">
        <h2>{% if category %}{{ category.name }}{% else %}Products{% endif %}</h2>
        <div class="row">
            {% if tag %} <h4>products tagged with "{{ tag.name }}"</h4> {% endif %}
            {% for product in products %}
                <div class="m-2 p-2 card col-md-3 col-sm-5 col-xs-12 ">
                    <div class="card-body ">
                        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static '/img/no_image.png' %}{% endif %}" class="w-25 h-25">
                        <h5 class="card-title"><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h5>
                        <p class="card-text">${{ product.price }}</p>

                    {% if product.tags.all %}
                        <p class="tags">Tags:
                            {% for tag in product.tags.all %}
                                <a href="{% url 'shop:product_list_by_tag' tag.slug %}"> {{ tag.name }} </a>
                                {% if not forloop.last %}, {% endif %}
                           {% endfor %}
                        </p>
                     {% endif %}
                        <!--<p class="card-text">{{ product.description|truncatewords:10|linebreaks }}</p>-->
                    </div>
                </div>
            {% endfor %}

        </div>
        <!--{% include "shop/pagination.html" with page=page_obj %}-->
        {% include "shop/pagination.html" with page=products %}

    </div>

</div>

{% endblock %}