{% extends "shop/base.html" %}
{% load static %}
{% block title %} Product share {% endblock %}
{% block content %}
{% if sent %}
     <h1>E-mail successfully sent</h1>
     <p>
     "{{ product.name }}" was successfully sent to {{ cd.to }}.
     </p>
{% else %}
     <h1>Share "{{ product.name }}" by e-mail</h1>
     <form action="." method="post">
       {% for field in form %}
         <div>{{ field.label_tag }}</div>
     <div>
         {{ field.errors }}
         {{ field }} </div>
{% endfor %}
     <input type="submit" value="Send e-mail" class="btn-md btn-success">
            {% csrf_token %}

     </form>
{% endif %}
{% endblock %}