* {
    padding: 0;
    margin: 0;
}
header {
    width: 100%;
    text-align: center;
    padding: 5px;
    background-color: #000;
    color: white;
    margin-bottom: 20px;
}
#subheader {
    width: 100%;
    text-align:right;
    background-color: #111;
    padding: 5px;
}
.sidebar {
    float:left;
    width:20%;
    padding: 10px;
    background:#eef;
    height:100%;
    margin: 0pt 5pt ;
}
li {
    list-style: none;
    text-align: left;
}
.sub_side {
    background:#eff;
    padding: 10px;
}
.sub_side h4 {
    text-align: center;
    margin-right: 10pt;
}
card {
    max-width: 100%;
    height: auto;
}
.product-detail img {
    float: left;
    margin: 5pt;
}
.comment {
    background-color: rgba(204,255,153,05);
    padding: 3pt 7pt;
    margin: 5pt;
    border: 1px solid black;
}
.comment .author {
    text-align: left;
}
.comment .info {
    text-align: right;
}
.clearfix {
        clear:both;
}
footer {
    border-top: 1px solid rgb(1, 44, 74);
    padding: 10px;
    width:100%;
    margin: 0 auto;
    margin-top: 80px;
}