{% load shop_tags %}
{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="ru">

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta charset="utf-8">
<meta name="author" content="">
<title>Myshop </title>

<!-- Bootstrap 4 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
      integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/ec32966a69.js"></script>

<link href="{% static 'css/base.css' %}" rel="stylesheet">

<body>
<header>
    <a href="/" class="logo">My shop </a>

    <div id="subheader">
        <div class="cart"> Your cart is empty.</div>
    </div>
    {% total_products %} products are avaliable now!
    <p><a href="{% url 'product_feed' %}">Subscribe to my RSS feed</a></p>
</header>


<!--SIDEBAR ------>

<div class="sidebar">
    <div class="sub_side">
<div class="categories">
    <h4>Categories</h4>
            <ul class="col-md-12">
                    <li class="{% if not category %}selected{% endif %}"><a href="{% url 'shop:product_list' %}">All</a></li>
                    {% for c in categories %}
                        <li class="{% if category.slug == c.slug %}selected{% endif %}">
                            <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                        </li>
                    {% endfor %}
            </ul>
        </div>
    </div>
        <div class="sub_side">
        <div class="most_comment">
            <h4>Most commented products</h4>
            {% get_most_commented_products as mc_ps %}
            <ul class="col-md-12">
                {% for mc_p in mc_ps %}
                <li> <a href="{{ mc_p.get_absolute_url }}">{{ mc_p.name }}</a> </li>
                {% endfor %}
            </ul>
        </div>
    </div>
            <div class="sub_side">


        <div class="latest">
                {% latest_products 3 %}
        </div>
    </div>
</div>
<!--END SIDEBAR ------>

<div class="container">
    {% block content %}{% endblock %}
</div>


<div class="clearfix"></div>
{% block footer %}
<footer>
    <div class="col-xs-12 text-center">


        <a href="#" target="_blank"><i class="fa fa-github fa-2x" aria-hidden="true"> </i></a>
        <a href="mailto:crowd.scoring@yandex.ru"><i class="fa fa-envelope fa-2x" aria-hidden="true"> </i></a>
        <br>
        <strong> {% now "Y" as current_year %} Copyright &copy; viva-fidz, {{ current_year }}</strong>
    </div>
</footer>
{% endblock %}
</body>
</html>