{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<h1>Login</h1>
{% if form.errors %}
<p>
    Your username and password didn't match.
    Please try again.
</p>
{% else %}
    <p>Please, use the following form to log-in. If you don't have an account <a href="{% url 'account:register' %}">register here</a></p>
{% endif %}

<div class="login-form">
    <form action="{% url 'account:login' %}" method="post">
        {{ form.as_p }}
        {% csrf_token %}

        <input type="hidden" name="next" value="{{ next }}"/> <!--  куда переходит после того, как залогинится  -->

        <p><input type="submit" value="Login"></p>
    </form>
    <p><a href="{% url 'account:password_reset' %}">Forgotten your password?</a></p>

</div>
{% endblock %}